/* general */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    width: 80%;
    margin:auto;
}
.width{
    margin: 0 25px 0 0;
}
.left{
    float: left;
}
.card{
    width: calc((100% - 60px)  / 3);
    box-shadow: 3px 0px 15px -6px #000000;
}
.center-space{
    margin: 0 30px 50px;
}


/* color */
.card-bg{
    background-color: rgb(15, 14, 23);
}
.white{
    color: white;
}
.blue{
    color: #58aff7;
}


/* page body */
h1{
    margin: 40px;
    color: #e53170;
    text-align: center;
}
p{
    text-align: center;
    font-size: 15px;
    margin: 50px 0;
}
img{
    width: 27.5%;
}
.card-txt{
    font-size: 0.8em;
    line-height: 1.5em;
    padding:10px;
}
